@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700i&display=swap&subset=latin-ext');
 /* font-family: 'Montserrat', sans-serif;*/

 *{
     margin:0;
     padding:0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
 }
 main {
     position:relative;
     top:10vh;
 }
 nav {
     width: 100vw;
     background-color: #fff;
     position:fixed;
     text-align: center;
     z-index:1;
     line-height: 0.8;
     
 }
 nav h3 {
     display: inline-block;
     text-transform: uppercase;
     font-size: 5vh;
     font-weight:600;
 }

 nav ul {
     display:none;
 }
 @media (min-width:870px){
     nav{
         height:10vh;
         display:flex;
         align-items:center;
     }
     nav ul{
         width:83vw;
         display:flex;
         align-items:center;
         justify-content:flex-end;
     }
     nav ul li{
        list-style:none;
        text-transform:uppercase;
        margin:10px;
        font-weight:700;
        border: 1px solid black;
        padding: 10px;
        border-radius:20px;
        
     }
     nav ul li a {
        text-decoration:none;
        color:black;
        padding: 5px;
     }
     nav .logo{
         text-align:start;
     }
 }


 .logo .material-icons{
     padding: 4vh 2vh;
     font-size: 5vh;
 }

 .wrapper{
     width: 100vw;
     height: 90vh;
     text-align:center;
     background-image: url("https://cdn.pixabay.com/photo/2019/10/26/11/15/night-photograph-4579193_960_720.jpg");
     background-size: cover;
     background-position: center;
 }

 .wrapper h1, .wrapper p{
    position: relative;
    top:35vh;
    color:rgb(117, 199, 236);
 }
 .wrapper h1{
     font-size: 8vh;
     padding: 3vh;
 }
 .wrapper p{
     font-size: 3vh;
     line-height: 2;
 }

 .solution {
     position:relative;
     height: 100vh;
     text-align:center;
     width: 100vw;
 }

 .solution h2 {
    font-size: 5vh;
    padding: 8% 4%;
 }

 .solution button{
    color:#fff;
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    padding: 1vh;
    border: 2px #999 solid;
    border-radius: 15px;
    padding:2vh;
    display:inline-block;
    font-size: 4vh;

 }

 .solution button:first-of-type{
     top: 55%;
 }

 .solution button:hover{
     background: #fff;
     color: royalblue;
 }

 #about {
    height:100vh;
    width: 100vw;
    position:relative;
 }
 .main_content img{
     width:50%;
     border-radius: 25%;
     position:absolute;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 @media(min-width:870px){
    .main_content img{
        width:35%;
        padding: 10vh;
        left:25%;
    }
    .main_content .main_info ul{
        padding: 3vh;
        top: -12vh;
        left: 60%;
        text-align:start;
    }
    .main_content .aside_info{
        top:30%;
    }
    #about{
        height:90vh;
        position:relative;
    }
    }
 
 @media (max-width: 870px){
    .solution button{
        display:inline-block;
        position:absolute;
        left:50%;
        top:40%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
    }
 }
 
 .main_info ul{
     line-height: 1.5;
     position:absolute;
     left:50%;
     top:30%;
     transform: translate(-50%);
     text-align:center;
 }
 .main_info ul li{
     list-style:none;

 }
 .main_info ul li span{
     font-weight:600;

 }

.aside_info{
    width: 100vw;
    position:absolute;
    padding: 30px;
    text-align: center;
    top: 65%;
}
.aside_info p {
    padding:5% 5%;
}
#skills{
    position:absolute;
    height:50vh;
    width:80vw;
    top:135%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align:center;
    font-size:4vh;
    background-color:#eee;
    box-shadow:6px 6px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
#skills .material-icons{
    font-size:10vh;
    padding: 3vh;
}
@media (min-width: 870px){
    #skills{
        display:flex;
        top:100%;
        justify-content:center;
        align-items:center;
        font-size:5vh;
        padding: 40px;
    }
    #skills .material-icons{
        font-size: 16vh;
    }
}
.portfolio_foto{
    width:100vw;
    height: 100vh;
    position:relative;
}
#portfolio{
    width:95vw;
    height:100%;
    position:absolute;
    top: 100%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    flex: 1 1;
    overflow:hidden;
}

#portfolio img{
    width:30vw;
    border-radius: 30px;
}

#portfolio .portfolio1:hover img{
    animation-name: foto;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}
#portfolio .portfolio2:hover img{
    animation-name: foto;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}
#portfolio .portfolio3:hover img{
    animation-name: foto;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; }
    
@keyframes foto{
    from{
        transfrom: scale(1);
    }
    to{
        transform:scale(1.1);
    }
}
.portfolio_foto h3{
    font-size: 7vh;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}
@media (max-width:870px){
    #portfolio{
        justify-content:center;
        align-content:space-between;
        top:120%;
    }
    #portfolio img{
        width: 55vw;
    }
    .portfolio_foto h3{
        top:80%;
    }
}

#contact {
    height: 150vh;
    width:100vw;
    text-align:center;
    position:relative;
}
#contact h3{
    position:absolute;
    top:40vw;
    left:50%;
    transform:translate(-50%, -50%);
    font-size: 7vh;
}
#contact p{
    position:absolute;
    top:50vw;
    left:50%;
    transform:translate(-50%, -50%);
    font-size: 3vh;
}
@media (max-width:870px){
    #contact{
        height:300vh;
    }
    #contact h3{
    top:200vw;
    padding-top:3vh;;
    }
    #contact p{
        top:225vw;
        }
}

@media (max-width:500px){

    #contact h3{
    top:200vw;
    }
    #contact p{
        top:240vw;
        }
}
form input, textarea{
    margin: 4px;
    padding:20px;
    background: #FAFAFF;
    border-radius: 15px;
    
}
.form form input:last-of-type{
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    font-size: 15px;
    font-weight:600;
    color:blue;
}
.form form input:last-of-type:hover{
    background: linear-gradient(90deg, #FFC53D 14%, #FF9A3D 68.5%);
    cursor: pointer;
}
.form form{
    width:50vw;
    height:80vh;
    display:flex;
    flex-direction:column;
    position:absolute;
    top:60vw;
    left:50%;
    transform:translate(-50%);
    padding-bottom: 30px;
}
.form form textarea{
    outline:none;
    resize:none;
    overflow:auto;
}

@media (max-width:870px){
    .form form{
        top:240vw;
    }
}
@media (max-width:500px){
    .form form{
        top:270vw;
    }
}
footer{
    position:absolute;
    height:10vh;
    width:100vw;
    background-color: #eee;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:700;
}