@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700i&display=swap&subset=latin-ext');
 /* font-family: 'Montserrat', sans-serif;*/

 *{
     margin:0;
     padding:0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     margin: 0 auto;
 }
 nav {
     width: 100vw;
     background-color: #fff;
     position:fixed;
     text-align: center;
     z-index:1;
     line-height: 0.8;
     
 }
 nav h3 {
     display: inline-block;
     text-transform: uppercase;
     font-size: 6vh;
     font-weight:600;
 }

 nav ul {
     display:none;
 }
 @media (min-width:870px){
     nav{
         height:10vh;
         display:flex;
         align-items:center;
     }
     nav ul{
         width:83vw;
         display:flex;
         align-items:center;
         justify-content:flex-end;
     }
     nav ul li{
        list-style:none;
        text-transform:uppercase;
        margin:4vh;
        font-weight:700;
        border: 3px solid black;
        padding: 2vh;
        border-radius:20px;
        background-color:#fff;
     }
     nav ul li a {
        text-decoration:none;
        color:black;
        padding: 5px;
     }
     nav .logo{
         text-align:start;
     }
 }


 .logo .material-icons{
     padding: 4vh 2vh;
     font-size: 5vh;
 }

 .wrapper{
     width: 100vw;
     height:100vh;
     position:relative;
     text-align:center;
     background-image: url("https://cdn.pixabay.com/photo/2019/10/19/03/16/sunflower-4560467_960_720.jpg");
     background-size: cover;
     background-position: center;
 }

 .wrapper h1, .wrapper p{
    position: relative;
    top:35vh;
    color:rgb(0, 0, 0);
 }
 .wrapper h1{
     font-size: 12vh;
     padding: 3vh;
     text-shadow: 6px 3px 6px #fff;
 }
 .wrapper p{
     font-size: 4vh;
     line-height: 3;
 }

 .solution {
     position:relative;
     text-align:center;
     width: 100vw;
     height:80vh;
 }

 .solution h2 {
    font-size: 5vh;
    padding: 8% 4%;
    margin-top:5vh;
 }

 .solution button{
    color:#fff;
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    padding: 1vh;
    border: 2px #999 solid;
    border-radius: 15px;
    padding:2vh;
    font-size: 4vh;

 }

 .solution button:first-of-type{
     top: 80%;
 }
 @media (min-width:870px){
     .solution button{
         display:inline-block;
         margin:0 4vh;
     }
 }

 .solution button:hover{
     background: #fff;
     color: royalblue;
 }

 .main_content{
     width:100vw;
     text-align:center;
 }
 .main_content img{
     display:inline-block;
     margin: 5vh 0;
     width:47%;
     border-radius: 25%;
 }
 

 @media(min-width:870px){
    .main_content{
        position:relative;
    }
    .main_content img{
        width:30%;
        position:absolute;
        top:1vw;
        right:10%;
    }
    .main_content .main_info ul{
        position:absolute;
        top:3vw;
        font-size:2vw;
        text-align:start;
        left:6%;
    }
    .main_content .main_info ul li{
        margin-left: 4vh;
    }
    }
 
 @media (max-width: 870px){
    .solution button{
        display:inline-block;
        position:absolute;
        left:50%;
        top:55%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
    }
 }
 
 .main_info ul{
     font-size:3.5vh;
     padding: 3vh;
     line-height: 1.5;
     text-align:center;
 }
 .main_info ul li{
     list-style:none;

 }
 .main_info ul li span{
     font-weight:600;

 }

.aside_info{
    font-size: 3vh;
    width: 100vw;
    padding: 30px;
    text-align: center;
}
.aside_info p {
    padding:5% 5%;
    font-size:4vh;
    margin-top: 26vw;
}
@media (max-width:870px){
    .aside_info p{
        margin-top:1vh;
    }
}
#skills{
    padding: 4vh;
    margin:4vh;
    display:inline-block;
    width:60vw;
    text-align:center;
    font-size:4vh;
    background-color:#eee;
    box-shadow:6px 6px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
#skills .material-icons{
    font-size:10vh;
    padding: 3vh;
}
@media (min-width: 870px){
    #skills{
        display:flex;
        top:100%;
        justify-content:center;
        align-items:center;
        font-size:5vh;
        padding: 40px;
        margin:3vh 20vw;
    }
    #skills .material-icons{
        font-size: 16vh;
    }
}
.portfolio_foto{
    width:100vw;
}
#portfolio{
    width:100vw;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    flex: 1 1;
}

#portfolio img{
    width:30vw;
    border-radius: 30px;
}

#portfolio .portfolio1:hover img{
    animation-name: foto;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}
#portfolio .portfolio2:hover img{
    animation-name: foto;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}
#portfolio .portfolio3:hover img{
    animation-name: foto;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}
#portfolio .portfolio4:hover img{
    animation-name: foto;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}
#portfolio .portfolio5:hover img{
    animation-name: foto;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}
    
@keyframes foto{
    from{
        transfrom: scale(1);
    }
    to{
        transform:scale(1.1);
    }
}

.portfolio_foto h3{
    font-size: 7vh;
    margin:10vh;
    text-align:center;
}
@media (max-width:870px){
    #portfolio{
        justify-content:center;
        align-content:space-between;
    }
    #portfolio img{
        width: 55vw;
    }
}

#contact {
    width:100vw;
    text-align:center;
}
#contact h3{
    font-size: 7vh;
    margin: 10vh 0;
}
#contact p{
    font-size: 3vh;
    margin:10vh 5vw;
}
@media (min-width:870px){
    #contact {
        margin:3vw;
    }
}

form input, textarea{
    margin: 4px;
    padding:20px;
    background: #FAFAFF;
    border-radius: 15px;
    outline:none;
    resize:none;
    
}
.form form input:last-of-type{
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    font-size: 15px;
    font-weight:600;
    color:blue;
}
.form form input:last-of-type:hover{
    background: linear-gradient(90deg, #FFC53D 14%, #FF9A3D 68.5%);
    cursor: pointer;
}
.form form{
    width:50vw;
    display:flex;
    flex-direction:column;
    padding-bottom: 30px;
    margin: 3vh auto;
}

footer{
    font-size:20px;
    padding: 2vh 0;
    background-color: #eee;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:700;
}